parameters:
    level: max
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            identifier: property.notFound
        -
            identifier: property.nonObject